@font-face {
  font-family: 'Paperlogy-4Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Paperlogy-4Regular';
}
.avatar {
  border-radius: 50%;
  border-color: gray;
  background-color: #d8d8d8;
}
.avatar-sm {
  width: 20px;
  height: 20px;
}
.avatar-md {
  width: 40px;
  height: 40px;
}
.avatar-lg {
  width: 80px;
  height: 80px;
}

/* 페이지 네이션 */
.pagination-container {
  display: flex;
  /* column-gap: 10px; */
}

.paginate-buttons {
  height: 40px;
  width: 40px;
  /* border-radius: 20px; */
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  color: black;
}

.paginate-buttons:hover {
  border-radius: 20px;
  background-color: #d8d8d8;
}

.active-page {
  border-radius: 20px;
  background-color: #3498db;
  border: #3498db;
  color: white;
}

.active-page:hover {
  background-color: #2988c8;
}
.imgText {
  /* display: block; */
  text-align: center;
  font-size: 17px;
  font-family: 'GowunBatang-Regular';
  color: #3a2711;
}
