@font-face {
  font-family: 'Paperlogy-4Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Paperlogy-4Regular';
}
.avatar {
  border-radius: 50%;
  border-color: gray;
  background-color: #d8d8d8;
}
.avatar-sm {
  width: 20px;
  height: 20px;
}
.avatar-md {
  width: 40px;
  height: 40px;
}
.avatar-lg {
  width: 80px;
  height: 80px;
}

/* 페이지 네이션 */
.pagination-container {
  display: flex;
  /* column-gap: 10px; */
}

.paginate-buttons {
  height: 40px;
  width: 40px;
  /* border-radius: 20px; */
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  color: black;
}

.paginate-buttons:hover {
  border-radius: 20px;
  background-color: #f2d383;
}

.active-page {
  border-radius: 20px;
  background-color: #f3b706;
  font-weight: bold;
  border: #3498db;
  color: white;
}

.active-page:hover {
  background-color: #f2d383;
}
.imgText2 {
  /* display: block; */
  text-align: center;
  font-size: 15px;
  font-family: 'Paperlogy-4Regular';
  font-weight: 700;
  color: black;
}
.imgText {
  /* display: block; */
  text-align: center;
  font-size: 17px;
  font-family: 'GowunBatang-Regular';
  color: white;
}

.kb_btn {
  background-color: #f3b706;
  border: none;
  color: white;
  margin-right: 0.5rem !important;
  cursor: pointer;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border-radius: var(--bs-btn-border-radius);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.kb_btn:hover {
  background-color: #f2d383;
  color: white;
}

.kb_btn.active {
  background-color: #f2d383;
  color: white;
}
.kb_btn:disabled,
.kb_btn.disabled {
  background-color: #d3d3d3; /* 버튼을 흐리게 */
  color: #a0a0a0; /* 텍스트 색상 흐리게 */
  cursor: not-allowed; /* 커서를 비활성화 모양으로 */
  opacity: 0.7; /* 약간 투명하게 */
}
/* 여백 없애기 위해 만듦 */
.kb_btn2 {
  background-color: #f3b706;
  border: none;
  color: white;
  cursor: pointer;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border-radius: var(--bs-btn-border-radius);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.kb_btn2:hover {
  background-color: #f2d383;
  color: white;
}

.kb_btn2.active {
  background-color: #f2d383;
  color: white;
}

.kb_btn3 {
  background-color: #f3b706;
  border: none;
  color: white;
  cursor: pointer;
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-font-size: 1.1rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border-radius: var(--bs-btn-border-radius);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.kb_btn3:hover {
  background-color: #f2d383;
  color: white;
}

.kb_btn3.active {
  background-color: #f2d383;
  color: white;
}
.kb_btn3:disabled,
.kb_btn3.disabled {
  background-color: #d3d3d3; /* 버튼을 흐리게 */
  color: #a0a0a0; /* 텍스트 색상 흐리게 */
  cursor: not-allowed; /* 커서를 비활성화 모양으로 */
  opacity: 0.7; /* 약간 투명하게 */
}

.fade-enter-active {
  transition: all 0.5s;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}
